<app-header></app-header>
<div class="container">
    <div class="row">
      <hr />
      <div class="create-post-container col-md-9">
        <form class="post-form" [formGroup]="createPostForm" (ngSubmit)="createPost()">
          <div class="form-group">
            <div class="create-post-heading">Create Post</div>
            <hr />
            <label class="form-control">{{postPayload?.postTitle}}</label>
              <ng-container *ngFor="let field of postPayload?.postTemplate!.dataFields; let i = index">
                <app-post-input
                  [childForm]="$any(getFieldsAsFormArray().controls[i])"
                  [fieldName]="field.name"
                  [type]="field.type"
                ></app-post-input>
              </ng-container>
            <span>
              <div style="margin-top: 5px" class="float-right">
                <button (click)="discardPost()" class="btnDiscard">Discard</button>
                <button class="btnCreatePost">Post</button>
              </div>
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>