<header>
    <div class="header-content">
        <div class="logo-container">
            <img src="https://www.svgrepo.com/show/428085/study-university.svg" alt="Studyhole Logo">
            <span class="title">Studyhole</span>
        </div>
        <div class="auth-buttons">
            <a routerLink="/sign-up" class="float-right sign-up mr-2">Sign up</a>
            <a routerLink="/login" class="float-right login mr-2">Login</a>
        </div>
    </div>
    <div class="line"></div>
</header>
