<app-header></app-header>
<div class="container">
    <div class="row">
      <div class="create-community-container">
        <form class="post-form" [formGroup]="createCommunityForm" (ngSubmit)="createCommunity()">
          <div class="form-group">
            <div class="create-community-heading">Create Community</div>
            <hr />
            <input type="text" [formControlName]="'title'" class="form-control" style="margin-top: 5px"
              placeholder="Title">
            <textarea type="text" [formControlName]="'description'" style="width: 100%; margin-top: 5px"
              placeholder="Description"></textarea>
              <div style="margin-top: 5px;">
                <label for="isPublic">Public:</label>
                <input type="checkbox" id="isPublic" formControlName="isPublic">
            </div>
            <div>
              <div style="margin-top: 5px" class="float-right">
                <button (click)="discard()" class="btnDiscard">Discard</button>
                <button class="btnCreateCommunity">Create</button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-3">
        <div class="sidebar">
          <h5 class="guidelines">Posting to Studyhole</h5>
          <hr />
          <ul>
            PLACEHOLDER -> MUST BE DESIGNABLE BY USERS
          </ul>
        </div>
      </div>
    </div>
  </div>