<app-header></app-header>

<div class="profile-container">
  <div class="container">
    <div class="user-info-box">
      <div class="title">Welcome <b>{{name}}</b></div>
      <hr>
      <ul class="user-info">
      </ul>
      <div class="user-info">
        You have posted <b>{{postLength}}</b> time(s) and commented
        <b>{{commentLength}}</b> time(s).
      </div>
      <hr />
    </div>
    
    <div class="dropdown">
      <select [(ngModel)]="selectedOption">
        <option value="posts">Posts</option>
        <option value="comments">Comments</option>
      </select>
    </div>
    
    <div class="content">
      <div class="main-content">
        <div *ngIf="selectedOption === 'posts'">
          <div>
            Your Posts:
          </div>
          <app-post-tile [posts]="posts"></app-post-tile>
          <hr />
        </div>
  
        <div *ngIf="selectedOption === 'comments'">
          <div>
            Your Comments:
          </div>
          <div *ngFor="let comment of comments">
            <div class="comment">
              <div class="username">
                <a routerLink="/user/comment.username">{{comment.username}}</a>
              </div>
              <div>
                <p>{{comment.createdDate}}</p>
              </div>
              <b>{{comment.text}}</b>
            </div>
            <hr />
          </div>
        </div>
      </div>
      <div class="sidebar">
        <app-side-bar></app-side-bar>
      <div class="container">
       <div class="row">
      <hr />
    </div>
  </div>
  <div class="col-md-9">
    <div class="card custom-card">
        <div class="card-body">
            <h2 class="card-title">Subscribed Communities</h2>
            <ul class="list-group list-group-flush">
                <li *ngFor="let community of subscribedCommunities" class="list-group-item">
                    <a routerLink="/view-community/{{community.communityId}}">{{community.name}}</a>
                </li>
            </ul>
        </div>
    </div>
  </div>
    </div>
    </div>
  </div>
</div>
